{% extends "base.html" %}
{% block content %}
<h2>{% if action == 'create' %}Create Address{% else %}Edit Address{% endif %}</h2>
<form method="post">
    {% if action == 'create' %}
    <label>Member:
        <select name="member_user_id" required>
            {% for m in members %}
            <option value="{{ m.member_user_id }}">{{ m.member_user_id }} - {{ m.user.given_name }} {{ m.user.surname }}</option>
            {% endfor %}
        </select>
    </label><br>
    {% else %}
    <p>Member ID: {{ address.member_user_id }} ({{ address.member.user.given_name }} {{ address.member.user.surname }})</p>
    {% endif %}

    <label>House number:
        <input type="text" name="house_number" value="{{ address.house_number if address else '' }}">
    </label><br>

    <label>Street:
        <input type="text" name="street" value="{{ address.street if address else '' }}">
    </label><br>

    <label>Town:
        <input type="text" name="town" value="{{ address.town if address else '' }}">
    </label><br><br>

    <button type="submit">Save</button>
    <a href="{{ url_for('list_addresses') }}">Cancel</a>
</form>
{% endblock %}
